@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;}

.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    flex-direction: row;
    background-color: #393939;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.nav-item{
    color: #fff;
    font-family: 'Roboto', sans-serif;
cursor: pointer;
}
.conteudo{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.conteudo-principal{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
align-items: center;
margin-top: 200px;
}
.conteudo-principal-escrito-titulo{
    font-size: 32px;
    color: black;
}
.conteudo-principal-escrito-subtitulo{
    font-family: 'Lato', sans-serif;
        font-weight: 110px;
        font-size: 20px;
        height: 50px;
        width: 400px;
        margin-top: 40px;
    }
    .rodape{
        margin-top: 80%;
        padding: 45px;
        background-color: #393939;
        text-align: center;
    }
    .rodape-copy{
        color: #fff;
    }
    .rodape-link{
        color: #fff;
    }
    .rightcolumn {
        float: left;
        width: auto;
        margin-left: 5%;
        margin-top: 10%;
        background-color: #f1f1f1;
        padding-left: 40px;
        width: 20%;
    }
    .post{
        font-size: 22px;
        width: 90%;
        color: black;
        font-family: 'Zilla Slab', serif;
    }
    .post:hover{
        color: blue;
    }
    
    .card-titulo{
        font-size: 28px;
        margin-right: 10%;
    }
    @media screen and (max-width: 413px){
        .cabecalho{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    .conteudo-principal{
        width: 70%;
        margin-left: 20%;
    }
    .conteudo-principal-escrito-subtitulo{
        font-size: 14px;
        width: 80%;
    }
    .rodape{
        z-index: 99;
        width:100%;
    }
    }
    
    @media screen and (max-width: 886px){
        .rodape{
            z-index: 99;
            width:100%;
            margin-top: 200%;
        }
        .conteudo-principal{
            margin-left: 15%;
        }
        .rightcolumn{
        width: 33%;
        }
    }
    @media screen and (max-width: 610px){
        .rodape{
            z-index: 99;
            width:100%;
            margin-top: 290%;
        }
        .conteudo{
            width: 100%;
        }
        .rightcolumn{
            display: none;
        }
        .conteudo-principal-escrito-subtitulo{
            font-size: 18px;
            width: 80%;
        }
    }