@import url('https://fonts.googleapis.com/css2? family= Domine & family= Lato:wght@300 & family= Roboto:wght@300 &família= Zilla+Laje:wght@300 & display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;}

.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    flex-direction: row;
    background-color: #393939;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.nav-item{
    color: #fff;
    font-family: 'Roboto', sans-serif;
cursor: pointer;
}
.nav-item:hover{
    color:chartreuse;
}
.conteudo{
    margin-top: 10%;
    margin-right: 8%;
}
.conteudo-principal{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
align-items: center;
margin-right: 25%;
}
.conteudo-principal-escrito-titulo{
    margin-top: 10%;
    font-size: 22px;
    width: 400px;
    color: black;
    
}
.conteudo-principal-escrito-titulo:hover{
    color: blue;
}
.conteudo-principal-escrito-subtitulo{
    font-family: 'Lato', sans-serif;
        font-weight: 110px;
        font-size: 14px;
        height: 50px;
        width: 400px;
        margin-top: 40px;
    }
.conteudo-principal-escrito-botao{
    color: black;
    background-color: blue;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
}
.conteudo-principal-escrito-botao:hover{
    background-color: aqua;
}
.conteudo-principal-imge{
    width: 600px;
    margin-left: 184px;
    margin-right: 32px;
    border-radius: 3%;
}
.conteudo-segundo{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
align-items: center;
margin-top: 10%;
}
.conteudo-segundo-escrito-titulo{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 22px;
    color: black;
}
.conteudo-segundo-escrito-titulo:hover{
    color: blue;
}
.conteudo-segundo-escrito-subtitulo{
    font-family: 'Lato', sans-serif;
        font-weight: 110px;
        font-size: 14px;
        height: 50px;
        width: 400px;
        margin-left: 5%;
        margin-top: 40px;
}
.conteudo-segundo-escrito-botao{
    color: black;
    background-color: blue;
    margin-left: 25%;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 100px;
}
.conteudo-segundo-escrito-botao:hover{
    background-color: aqua;
}
.conteudo-segundo-img{
    width: 600px;
    border-radius: 3%;
    margin-left: 150px;
}
.conteudo-terceiro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}
.conteudo-terceiro-escrito-titulo{
    margin-top: 10%;
    font-size: 22px;
    color: black;
    width: 400px;
}
.conteudo-terceiro-escrito-titulo:hover{
    color: blue;
}
.conteudo-terceiro-escrito-subtitulo{
    font-family: 'Lato', sans-serif;
        font-weight: 110px;
        font-size: 14px;
        height: 50px;
        width: 400px;
        margin-top: 40px;
}
.conteudo-terceiro-escrito-botao{
    color: black;
    background-color: blue;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 20%;
}
.conteudo-terceiro-escrito-botao:hover{
    background-color: aqua;
}
.conteudo-terceiro-img{
    width: 500px;
    height: 300px;
    margin-left: 104px;
    margin-right: 32px;
    border-radius: 5%;
}

.rodape{
    margin-top: 10%;
    padding: 45px;
    background-color: #393939;
    text-align: center;
}
.rodape-copy{
    color: #fff;
}
.rodape-link{
    color: #fff;
}
.rightcolumn {
    float: left;
    width: 20%;
    margin-left: 5%;
    
    background-color: #f1f1f1;
    padding-left: 40px;
}
.post{
    font-size: 20px;
    color: black;
    font-family: 'Zilla Slab', serif;
}
.post:hover{
    color: blue;
}
.card-titulo{
    font-size: 28px;
}


@media screen and (max-width: 610px){
    .rodape{
        
        width:100%;
        
    }
    .conteudo{
        width: 100%;
    }
    .rightcolumn{
        display: none;
    }
    .conteudo-terceiro{
        width: 90%;
        margin-right: 25%;
    }
    .conteudo-terceiro-img{
        width: 90%;
        margin-right: 30%;
        height: 200px;
    }
    .conteudo-terceiro-escrito-botao{
        margin-left: 5%;
    }
    .conteudo-terceiro-escrito-subtitulo{
        width: 90%;
        margin-left: 5%;
    }
.conteudo-terceiro-escrito-titulo{
    width: 90%;
    margin-left: 5%;
}
.conteudo-principal{
    width: 100%;
}
.conteudo-quarto{
    width: 100%;
}
.conteudo-segundo-escrito-titulo{
    margin-left: 15%;
}
.conteudo-segundo-escrito-subtitulo{
    margin-left: 15%;
}
.conteudo-segundo-escrito-botao{
    margin-left: 15%;
}
}

@media screen and (max-width: 413px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.conteudo-principal{
    width: 70%;
    margin-left: 20%;
}
.conteudo-principal-escrito-subtitulo{
    font-size: 14px;
    width: 80%;
}
.rodape{
    z-index: 99;
    width:100%;
}
}

@media screen and (max-width: 430px){
        .cabecalho{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    .conteudo-principal{
        width: 70%; margin-top: 50%;
        margin-left: 20%;
    }
    .conteudo-principal-escrito-subtitulo{
        font-size: 14px;
        width: 100%;
    }
    .conteudo-principal-escrito-botao{
        margin-top: 35%;
    }
    .rodape{
        z-index: 99;
        width:100%;
    }
    .conteudo-principal-imge{
        width: 300px;
        height: 200px;
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    margin-right: 10%;
    }
    .conteudo-segundo-img{
        width: 300px;
        height: 200px;
        margin: 0;
        margin-top: 50%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
    .conteudo-segundo-escrito{
        margin: 0;
        margin-right: 15%;
        width: 80%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
    .conteudo-segundo-escrito-subtitulo{
        width: 80%;
    }
    .conteudo-segundo-escrito-botao{
        margin-top: 40%;
    }
    }
    @media screen and (max-width: 834px){
        .rightcolumn{
        display: none;
        }
        }